<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=DESKTOP-1VJGKR1\SQLEXPRESS01;Initial Catalog=SchoolManagement;User ID=Alex;Password=nappy;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>